{% block comments %}

    <script type="text/javascript">
        window.___gcfg = {lang: 'en'};

        (function() {
            function _getComputedStyle(el, cssprop){
                if (el.currentStyle) {
                    // for IE
                    return el.currentStyle[cssprop]
                } else if (document.defaultView && document.defaultView.getComputedStyle) {
                    // Any other normal brwoser (like Chrome, Firefox)
                    return document.defaultView.getComputedStyle(el, "")[cssprop]
                } else {
                    // Try get inline style
                    return el.style[cssprop]
                }
            }


            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.onload = function() {
                if (gapi && gapi['comments'] && gapi.comments['render']) {
                    {% if mode == 'comments-count' %}
                        gapi.commentcount.render('gpluscomments-count', {
                            href: window.location
                        });
                    {% else %}
                        var gPlusComments = document.getElementById('gpluscomments');
                        gapi.comments.render(
                            'gpluscomments',
                            {
                                href: window.location,
                                view_type: 'FILTERED_POSTMOD',
                                first_party_property: "BLOGGER",
                                width: parseInt(_getComputedStyle(gPlusComments, "width"), 10)
                            }
                        );
                    {% endif %}
                }
            };
            script.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(script, s);
        })();
    </script>

    {% if mode == 'comments-count'%}
        <div id="gpluscomments-count"></div>
    {% else %}
        <div id="gpluscomments"></div>
    {% endif %}
{% endblock %}
